body{
    background-color: #dee9ff;
}

.log-in-form{
	padding: 50px 0;
}

.log-in-form form{
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    margin: auto;
    padding: 25px 70px;
    border-radius: 30px;
    box-shadow: 10px 10px 80px rgb(48, 48, 48)
}

.log-in-form .form-icon{
	text-align: center;
    background-image: linear-gradient(160deg, #70d1a1 0%, #20816b 100%);
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 35px;
    line-height: 100px;
}

.log-in-form .item{
	border-radius: 20px;
    border-width: 2px;
    margin-bottom: 10px;
    height: 50px;
    padding: 10px 20px;
    background-color: transparent;
}
.log-in-form .item:hover{
    border-color: cadetblue;
}
.log-in-form .sign-in{
    background-image: linear-gradient(160deg, #70d1a1 0%, #20816b 100%);
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    margin-top: 20px;
}
.log-in-form .sign-in:hover{
    background-image: linear-gradient(160deg, #94dfb9 0%, #49a38e 100%);
}
   
@media (max-width: 576px) {
    .log-in-form form{
        padding: 50px 20px;
    }

    .log-in-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}