<div class="registration-form">
    <form>
        <div class="form-icon">
            <span><i class="fas fa-user"></i></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <select class="form-control selectpicker show-tick" id="formControlSelect">
                <option>Administrator</option>
                <option>Student</option>
                <option>Teacher</option>
            </select>
        </div>
        <div class="form-group">
            <input type="password" class="form-control item" id="password1" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control item" id="password2" placeholder="Retype password">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-block sign-in">Sign up</button>
            <a class="btn btn-block sign-up" (click)="togglePageId()">Sign in</a>
        </div>
    </form>
</div>